<a href="https://colab.research.google.com/github/TranQuangVu249/THMH/blob/main/Lab_3_20130470_TranQuangVu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Deadline: 23:59, 04/03/2023**

# Task 1. 
The main aim of this task is to get familiar with the tasks of preprocessing data using Scikit-learn â€“ a Python-based Machine Learning framework and Linear Regression.

For given 2 datasets (preprocessing_weather.csv, preprocessing_salary_dummy.csv), 
*   Identify issues with these datasets
*   Then, apply preprocessing techniques to the datasets

#Task 1.1. Dataset preprocessing_weather.csv

**Issues**:


1.   List item
2.   List item
3.   List item
4.   List item
....

**Preprocessing dataset**:

In [2]:
#code
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/THMH'
import pandas as pd 
import numpy as np
data= pd.read_csv("preprocessing_weather.csv")
data.head(10)

Mounted at /content/gdrive
/content/gdrive/MyDrive/THMH

   id   outlook temperature humidity  windy play
0   1     sunny          85       85  False   no
1   2     sunny          80       90   True   no
2   3  overcast          83       86  False  yes
3   4     rainy       NaN         96  False  yes
4   5     rainy          68       80  False  yes
5   6     rainy          65       70   True   no
6   7  overcast          64       65   True  yes
7   8     sunny          72       95  False   no
8   9     sunny          69    NaN    False  yes
9  10     rainy          75       80  False  yes

In [7]:

from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy="mean")
# X=data.iloc[:,2:4].values
# imputer.fit_transform(X)
# data.temperature=imputer.fit_transform(data.iloc[:,2:3].values)
# data.humidity=imputer.fit_transform(data.iloc[:,3:4].values)
data.iloc[:,2:4]=imputer.fit_transform(data.iloc[:,2:4].values)
data

    id   outlook  temperature   humidity  windy play
0    1     sunny    85.000000  85.000000  False   no
1    2     sunny    80.000000  90.000000   True   no
2    3  overcast    83.000000  86.000000  False  yes
3    4     rainy    73.846154  96.000000  False  yes
4    5     rainy    68.000000  80.000000  False  yes
5    6     rainy    65.000000  70.000000   True   no
6    7  overcast    64.000000  65.000000   True  yes
7    8     sunny    72.000000  95.000000  False   no
8    9     sunny    69.000000  82.538462  False  yes
9   10     rainy    75.000000  80.000000  False  yes
10  11     sunny    75.000000  70.000000   True  yes
11  12  overcast    72.000000  90.000000   True  yes
12  13  overcast    81.000000  75.000000  False  yes
13  14     rainy    71.000000  91.000000   True   no

#Task 1.2. Dataset preprocessing_salary_dummy.csv

**Issues**:


1.   List item
2.   List item
3.   List item
4.   List item
....

**Preprocessing dataset**:

In [8]:
#code


data2= pd.read_csv("preprocessing_salary_dummy.csv")
data2.head(10)

   No    Country   Age     Salary  Purchased
0   1     France  44.0     72000.0        No
1   2      Spain  27.0     48000.0       Yes
2   3    Germany  30.0     54000.0        No
3   4      Spain  38.0     61000.0        No
4   5    Germany  40.0         NaN       Yes
5   6     France  35.0     58000.0       Yes
6   7      Spain   NaN     52000.0        No
7   8     France  48.0     79000.0       Yes
8   9    Germany  50.0     83000.0        No
9  10     France  37.0     67000.0       Yes

In [ ]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy="median")
data2.iloc[:,2:4]=imputer.fit_transform(data2.iloc[:,2:4].values)
data2

   No    Country        Age       Salary  Purchased
0   1     France  44.000000  72000.000000        No
1   2      Spain  27.000000  48000.000000       Yes
2   3    Germany  30.000000  54000.000000        No
3   4      Spain  38.000000  61000.000000        No
4   5    Germany  40.000000  63777.777778       Yes
5   6     France  35.000000  58000.000000       Yes
6   7      Spain  38.777778  52000.000000        No
7   8     France  48.000000  79000.000000       Yes
8   9    Germany  50.000000  83000.000000        No
9  10     France  37.000000  67000.000000       Yes

# **Task 2**. Simple Linear Regression in Scikit-Learn
---
# **Usage:**
> **Step 1**: build a model
![image.png]()

> **Step 2**: test the model

*   With test set:
`y_pred = regressor.predict(X_test)`

*   With a single value ("predict" method always expects a 2D array as the format of its inputs)
`regressor.predict([[12]])`

> **Step 3**: 
*   get w0, w1 , w2, â€¦,
-- W0: `regressor.intercept_`
-- w1, w2, â€¦: `regressor.coef_`
*   R^2 score: sum of squared r(i)
`r(i) = y(i) - f(x(i))`: residual of ith instance


> **Metrics**:
*   metrics.explained_variance_score(y_test, y_pred)
*   metrics.mean_absolute_error(y_ test, y_pred) 
*   metrics.mean_squared_error(y_ test, y_pred[, ...])
*   metrics.mean_squared_log_error(y_ test, y_pred)
*   metrics.median_absolute_error(y_ test, y_pred)
*   metrics.r2_score(y_ test, y_pred[, ...])



---

# Tasks
The main aim of these tasks is to get familiar with Linear Regression problems. Apply LinearRegression to the following datasets. Note the error obtained and coefficients
*   **dataset1.csv** - a synthetic dataset including 5 points (1-dimensional data) with one target
*   **dataset2.csv** - a synthetic dataset including 1000 points (3-dimensional data) with one target variable. The variables are named x1, x2, x3, y. y is the variable to be regressed. Split the dataset into training set and test set (70% for training set and 30% for test set).

# Task 2.1. dataset1.csv

In [ ]:
#code
dataset1= pd.read_csv("dataset1.csv")
dataset1

   x  y
0  1  1
1  2  3
2  4  3
3  3  2
4  5  5

In [ ]:

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
x=dataset1.loc[:,["x"]]
y=dataset1.loc[:,["y"]]
reg.fit(x,y)
print(reg.intercept_)
print(reg.coef_)
reg.score(x,y)

[0.4]
[[0.8]]

0.7272727272727273

# Task 2.2. dataset2.csv

In [12]:
#code
from sklearn.linear_model import LinearRegression as lr
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split as ms
from sklearn.metrics import mean_squared_error as mse, r2_score as r2
regressor=lr()
dataset2= pd.read_csv('dataset2.csv')
x_train, x_test, y_train, y_test = ms(dataset2[['x1', 'x2', 'x3']], dataset2['y'], test_size = 0.3, random_state = 1)
regressor.fit(x_train,y_train)
y_predit = regressor.predict(x_test)
print(y_predit)
w0=regressor.intercept_
w1x1=regressor.coef_[0] * dataset2['x1']
w2x2=regressor.coef_[1] * dataset2['x2']
w3x3=regressor.coef_[2] * dataset2['x3']

[ -1.09555578   2.8210162   -2.80937088   0.93249028   4.46716831
  18.10287426 -17.89014239   9.33475504   4.2172295   23.10458022
   7.45103989   8.46790232  18.21853963  -4.1790449    6.84075532
   2.95235554   8.85771318  -0.74380608  15.01121205  10.95829732
 -18.12084033  -4.44901511  -0.8096726   22.74597955 -13.42213109
  18.65213357   9.02682145  -4.48153144  10.20839999  14.95625146
   6.46187879  12.21761812   0.73402813   8.62311167  -4.17021239
 -12.78144779  15.66638407  20.62849828  -0.59142472  -5.31117429
  10.51840672  -5.39886769   3.65505324   0.34790187 -16.12786455
  12.34775266  -1.38894906  -8.73713617   4.38949713   0.48892861
   3.38194285  -1.95872119   8.98117513   2.69226911  13.72273929
  -0.72766663   9.27256349   0.89347602   9.19869181   8.09576538
   7.70930563  20.48890725   6.02816454   0.30307559   3.41876931
   8.69541     -1.57929563   9.70137965   8.42162816  -9.76255447
   4.42876172  23.19048328  -0.59056618  17.12417478   6.29319268
  11.35595117   5.91645534   4.04949412  14.82501594  13.91609947
  16.57863245  10.05090673  20.39200723 -13.82624723   3.19037145
  15.32179833   8.19621407 -18.12394126  -7.3958439    9.05007992
  -6.68543175   2.87701779  -9.16907075  14.96197225  -7.0628637
   2.86743447 -11.27385279  11.40577881  14.89100175   2.9120818
  17.11914276  12.99156341   4.53960167   7.71087742  24.24697908
  -5.81460852   2.53611294   2.97515511   1.18982834  10.09590779
  -4.10326899   9.99342968  -5.77076762  -4.14904469  -3.13077179
   2.9302074   -1.309975   -12.47117089   9.37095684   9.06351491
  -6.76784059   3.44855575  -6.16315923  -6.82170581 -15.64679171
  13.51612022   7.67144476  -2.40506216   5.36431657  -4.85346662
 -13.20117471   4.31524342   4.57064306  10.26768676  12.2194487
   7.42819772  -7.28432337  -6.73674249   3.81042711   4.13722109
   3.22157274   1.43283724  -1.75847576   5.55149621  16.89116709
   5.01574152   3.58559941   5.05492475  20.34328641  -0.78207258
  -9.45975566  12.09530998  -6.80541197   0.74385332   4.38891365
   2.37301909  24.2520517   13.2966039   13.41470076  19.99043639
   4.06808273   8.01558645   3.67054585  10.47850813   6.05060078
   9.34436764  -5.431008   -14.49704433  12.03808225   4.90872447
  16.54680563  11.50475984  13.38180328  -8.22956365  19.32188222
   1.5400456    3.57865607   9.16850844  -8.51519714  16.79943566]

# Task 2.3. Apply LinearRegression to the following dataset:
*   Red wine quality: https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv . The dataset includes info about the chemical properties of different types of wine and how they relate to overall quality.

In [15]:
#code
data = pd.read_csv('Task3_winequality-red.csv', sep=';')
x = data.drop(['quality'], axis=1)
y = data['quality']

x_train, x_test, y_train, y_test = ms(x, y, test_size=0.3, random_state=0)
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_test)
print(x)
print(regressor.intercept_)
print( regressor.coef_)
print(y_pred)
print( mse(y_test, y_pred))
print(r2(y_test, y_pred))

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol
0         9.4
1         9.8
2         9.8
3         9.8
4         9.4
...       ...
1594     10.5
1595     11.2
1596     11.0
1597     10.2
1598     11.0

[1599 rows x 11 columns]
21.011050088278814
[ 2.02362546e-02 -1.21385635e+00 -9.84560496e-02  2.21024824e-02
 -1.89761853e+00  1.99433159e-03 -3.00386885e-03 -1.67249074e+01
 -3.97705407e-01  8.54179475e-01  2.67506351e-01]
[5.77698343 5.04186238 6.58812977 5.38449676 5.94235649 5.05262894
 5.41458193 6.01438796 4.84612312 4.96358462 5.34037719 5.45310236
 5.74762487 5.04609467 5.5298785  6.37077951 6.81048257 5.80786582
 5.94225643 5.10463618 6.30480803 5.20797767 5.63891192 6.14447946
 5.5130062  5.01701749 5.19879799 6.49572365 5.34885245 6.2195562
 6.09065844 5.8570942  5.54513074 5.28600391 5.70464326 6.2153627
 5.16300514 5.46547134 6.36024605 5.78842262 5.45247612 6.05034673
 6.65558681 6.58819242 6.01087011 4.79026321 5.52926762 6.01442528
 5.50581887 6.1094846  5.3645023  5.3569158  5.78100776 6.36560789
 5.74243611 5.23301561 5.08378558 5.33390739 6.50763077 5.46055241
 5.15491058 5.77792925 6.05806639 6.29836916 5.07172948 6.1147426
 5.36980622 6.02148855 6.14452363 6.04562478 5.31885448 5.49214109
 5.06785305 5.58701634 5.63591451 6.20777786 5.4056327  5.33936313
 5.71978747 6.31306633 5.73600069 5.28587334 5.92859781 6.12134569
 5.50454085 5.37865176 6.2095893  5.09862828 5.34076007 4.97124905
 5.17146228 5.32482542 5.78734056 5.41859979 6.23559791 5.31885448
 6.31992199 5.39940663 5.46574686 5.95904361 6.8622465  6.04524424
 5.75749805 6.34944577 5.62879544 4.96133542 5.62879544 5.40553591
 5.99668537 5.27402627 5.84427939 5.14646612 6.27399656 5.02669997
 5.59010207 5.78483037 5.67604795 6.42097264 5.77301827 5.63891192
 5.13979635 5.93789375 5.43420428 5.12137145 6.17369143 6.31544725
 5.33292269 5.4712275  6.04906076 6.45038864 5.44225612 5.22773098
 6.02883824 5.83189158 6.31268333 5.30746747 5.91822949 5.29550091
 6.12912665 5.3569481  5.96728384 5.10964601 5.52926762 5.26046308
 5.64390642 5.75269072 6.27399656 6.41317452 6.24901797 5.32910129
 5.93137324 5.9728948  5.40553591 5.52505223 5.5214452  5.38627329
 5.12734573 5.38521065 6.19307621 6.05371442 5.92247739 5.59777402
 6.28914529 5.12606217 5.93674426 5.02369334 5.96347775 6.47385649
 5.4972908  5.9690481  5.97423284 5.52296716 5.01980861 6.65115597
 5.79669665 6.31172281 6.22684646 6.80970933 6.04554987 4.85007541
 5.10394577 6.94221861 5.48035922 6.14629162 6.78339382 5.02945205
 5.68155071 5.75749805 4.97960213 6.14963519 6.05044972 5.91777439
 5.22885173 5.50553759 5.18937653 5.17214506 5.34037719 5.1347952
 5.26845166 5.09348735 5.28202871 6.14684684 5.17854655 5.3086585
 5.40573505 4.94781012 5.10270456 6.30903844 6.05262112 5.4316605
 5.94703154 6.14805243 5.34348707 6.37165017 5.02079444 5.44367527
 5.94949204 6.08069073 5.55242089 5.00648535 5.0375224  5.95332874
 6.38281576 5.77690691 5.43420363 6.01000842 6.37974452 5.78812528
 4.87517747 5.48439988 5.02491977 5.88491193 5.05328394 5.83968438
 6.30631756 5.60921879 6.126963   6.57281038 6.52985461 6.14233611
 5.34492541 4.91867582 5.03879411 5.11954044 5.96955316 4.84112558
 5.61226645 5.23023352 4.87130186 6.32103956 4.89068131 5.27717187
 4.9141673  5.35909723 5.53195644 5.53746326 5.12985807 5.06815136
 5.12746778 5.63301816 5.33640963 6.88499087 5.35788608 5.69284132
 5.24717863 4.70918815 5.31626606 4.9602451  5.60326    6.47979995
 5.76946537 5.76114391 5.69954505 6.03990978 5.9677159  5.81189221
 6.39580929 5.2020665  6.59910395 6.16574162 5.39301648 6.89365807
 5.76114391 6.32757192 5.84861412 5.16251288 5.60752067 5.36865842
 6.2588103  5.91539369 5.67791597 5.37472444 6.15490279 5.37097618
 5.1919113  5.69541813 5.57716969 5.2101932  5.15621988 5.29114532
 5.67405543 5.03710619 5.43082795 5.74935937 6.1375354  5.77937684
 5.3297386  5.04497711 5.62471695 5.3255354  5.91960533 5.92036275
 5.35504375 5.39940663 5.07915752 6.58722984 6.03541772 6.26618724
 5.17209473 6.4083629  5.3255354  5.82789424 6.16651316 5.93044436
 5.43022496 5.08907954 6.62731247 5.56431    5.33253951 5.6562065
 6.60746073 5.22719057 5.47517051 6.14963519 4.96342983 6.02258284
 5.92398251 5.45700283 5.38509537 5.31339108 5.01059419 5.38973146
 5.36980622 6.354219   5.69541813 5.57138479 5.44260891 5.14127377
 5.43052435 6.51426115 5.72756544 6.10969017 5.59386233 5.94131102
 6.62076223 4.82973383 6.05044972 6.15177186 5.68897048 6.17003446
 5.06469775 6.32103956 5.42728054 6.09928609 5.69850053 5.27563153
 5.46547134 6.42999676 5.00374141 5.44239619 5.64318952 5.55029103
 5.44851139 6.07946892 5.34142322 5.28966776 5.9728948  6.20099871
 5.60921879 5.78376469 6.23397708 5.8500665  5.08056677 5.44858252
 5.58558388 5.56537434 6.14188586 5.58874363 6.01529398 5.65068924
 6.52257744 5.50748462 5.14627478 6.43459565 5.37595033 5.8899597
 5.53116944 5.91960533 5.82048958 5.41610961 5.3131938  5.41610961
 5.31831622 5.25342855 5.83498555 5.33390739 5.91056681 6.05764335
 5.30710432 5.78870613 5.44367527 5.10872424 4.97588352 5.90258795
 5.38568962 5.2915022  6.07000142 5.20245013 5.34511172 6.04979801
 6.10842216 5.76595042 6.37837399 5.87711457 5.33126861 5.53264892
 5.79253852 6.17700409 5.35080171 5.23023352 5.55482375 6.01529398
 5.32482542 6.21888837 5.7814564  6.65520676 5.7286605  6.37551348
 5.53208537 5.35903468 5.72934335 5.28439481 6.14233611 5.09229843
 5.87157633 5.59792825 5.45700283 6.94370531 5.88958199 5.52407857
 6.04131936 5.10556018 5.97070711 6.55132687 6.24616191 5.21579877
 5.65367141 5.29418826 6.15490279 5.60827621 5.14973283 6.72097956
 5.3569481  4.99367277 5.03204389 5.05262894 6.06633655 5.11867642
 5.50404881 5.18253686 5.61096683 5.54375371 5.24856174 5.44010393
 5.91539369 5.50311651 4.95233104 5.18407333 5.56537434 5.29418826]
0.4007803663750053
0.32071124343219437

# Task 2.4. Apply LinearRegression to the following dataset:
*   Energy efficiency: https://archive.ics.uci.edu/ml/datasets/Energy+efficiency.

In [16]:
#code
data = pd.read_excel('Task4_ENB2012_data.xlsx')
data = data.rename(columns={'X1': 'Relative_Compactness',
                        'X2': 'Surface_Area',
                        'X3': 'Wall_Area',
                        'X4': 'Roof_Area',
                        'X5': 'Overall_Height',
                        'X6': 'Orientation',
                        'X7': 'Glazing_Area',
                        'X8': 'Glazing_Area_Distribution',
                        'Y1': 'Heating_Load',
                        'Y2': 'Cooling_Load'})
x = data.drop(['Heating_Load', 'Cooling_Load'], axis=1)
y = data['Heating_Load']
x_train, x_test, y_train, y_test = ms(x, y, test_size=0.3, random_state=0)
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_test)
print(regressor.intercept_)
print( regressor.coef_)
print(y_pred)
print( mse(y_test, y_pred))
print(r2(y_test, y_pred))

72.70663804779464
[-5.61908712e+01 -5.59383623e-02  4.02060419e-02 -4.80722021e-02
  3.99273805e+00 -5.80790626e-02  1.94140526e+01  1.73979467e-01]
[17.42908608  8.03386763 29.47146502 25.82373748 31.09444255 27.47850162
 28.29823507 34.05347557 29.27891697 28.57721873  6.98670867 35.06362226
 11.89475018 35.29568079 35.81761919 26.59886761  9.45005232 27.30452215
 16.05155068 12.30433887 13.21669391 31.26842202  9.62428951 32.44165197
  5.68642438 15.21644675 13.1394428  14.49617993  9.10209339 32.96359037
 13.42958039 14.45889913 35.52773932 14.28491967 28.5302936  37.06378073
 14.148221   37.41173966 18.44172017  9.93798129 11.60487031 32.32549385
 15.66468474 31.14110996 24.07770261 25.61818572  9.79801126 13.10053578
 27.88453961 32.36500432 31.21034296 12.84956293 34.15141512 17.83512408
 37.23776019  7.80180911 23.15484206 30.79315103 32.61537372 16.2447022
 17.37100702 12.36241793 31.38432243  8.55580603 12.1303594  11.23611311
 32.26741478 10.71062402 26.77284708 32.44139425 31.50048055  9.68211085
 28.69311914 18.6737787  12.40106722 30.9671305  31.67446002 32.78935318
 31.84843948 15.10054635 33.30271739 27.71056015 11.25691138 16.28360921
 34.40117678 31.02520956 25.90806559 27.12402177 13.31367999 18.61569964
 13.85808341 26.71476801 10.83007512 25.21214772 39.62792968 18.61595736
 34.11129691 16.01290139  9.02536853 36.9476226  29.58736543 28.40323927
 23.96154449 33.80371391  8.49772697 29.45289643 35.87569826 14.57479954
 12.18843846 23.096763   18.57349965 34.20949418 32.07512445 12.22708776
 12.36216021 12.57504669 11.83667112 29.93532436 26.83092614 40.32384755
 33.94081392 10.94597552 12.07228034 33.36079645 12.47831834 40.03370995
 14.20604234 28.47221454 11.41009258 32.71322097 33.62947672 25.27022678
 29.76134489 11.17803405 37.23750247  9.14152665 34.22719732 25.32830584
 34.44155271 15.39042622 14.79123671 17.87758178 28.00069774  9.27633058
 29.35556462 18.7896791  27.47875934 36.59966367 13.27477297 16.22578787
 28.82017347 11.72077071 16.22553015 15.87782894 13.80000434 33.86153525
 28.00044002 28.3451602  14.74903672 25.79216518 32.15151438 12.01420128
 25.44420625 31.03636349 14.05286114 17.87732406 14.80685807 32.36526204
 16.39976734 32.01730311 39.74383008 12.59421874 27.18210083 35.70146107
 34.32539459 25.96614465 29.27917469 30.85123009 16.36086032 26.02422371
  8.2078471  35.5274816  29.68495496 10.6182778  15.68030609 27.93912221
  9.16017245 12.24625981 30.90930916 15.76167081 12.96572105 12.53613968
 18.45734153  9.27607286 17.13920621 14.2268406  17.31292796 25.67626478
  9.97224845 31.63025012 15.95482233 12.71011914  7.72508424 15.42933324
 28.57696101 33.18681699  9.21825152 17.02304808 10.88815418 13.39067338
 28.17118074 13.742183   28.93095803 27.59465974 10.71391699 12.79174158
 25.84998652 31.25726809 30.2747091  11.58407205 32.61563144 12.18818074
 16.3606026  11.66269165 29.70326583 30.91280563 34.09359378 13.13970052
 15.58769135 17.71896595  7.7831633 ]
9.265529158558705
0.9118632854449374

# Finally,
Save a copy in your Github. Remember renaming the notebook.